.BigTitle_div {
    opacity: 1;
    font-family:Perpetua;
    text-align:center;
    font-size:2em;
    Font-style:italic;
    font-weight:bold;
}
.collaboratorsUl li{
    margin-top: 10px;
<<<<<<< HEAD
}
.main{
    padding: 0 70px;
    margin-top: 10px;
=======
>>>>>>> f8820075db9f8314924aba3acff9d614bb20ff61
}