@charset "utf-8";

/*设置正文格式*/
#content{
	padding: 5% 5% 5% 5%;
}/*上右下左,顺时针*/


.display_p_div {position:relative;margin:10px 20px 0px 10px;height:40px;opacity: 1;}
.display_p_div li {position:relative;margin-left:10px;font-family:Arial;font-size:14px;line-height:1.5em;}

.display_p_div h3{font-family:Arial;font-size:14px;Font-style:italic;margin-top:60px;line-height:1.5em;}
.display_p_div p{font-family:Arial;font-size:14px;line-height:1.5em;}

.left_div{width:50%;float:left;}
.right_div{width:45%;float:right;}
