@charset "utf-8";
/* CSS Document */

#HeadTitle{
	position:fixed;
	height:13%;
	width: 100%;
	margin:0 auto;
    background-image: url(../imags/WebImg/Head.jpg);
	z-index: 500;
	background-repeat: no-repeat;
	
}


#BigTitle_div {
	margin:3% 0 0 0;opacity: 1;
	font-family:Perpetua;text-align:center;font-size:2em;Font-style:italic;font-weight:bold;
}
	

/*设置导航条*/


#Navigation{margin-top:2.5%;float:right;margin-right:6%;
			font-family:Arial;font-size:0.875em;
			}

#Navigation ul{
	list-style-type:none;
	}
	
#Navigation ul li{
	float: left;
	margin-left: 15px;
		
}


#Navigation  a{
	text-decoration: none;
	display: block;
	text-align: center;
	color: #FFF;	
}


#Navigation a:hover{
    color:red;	/*背景透明，字体不透明*/
}


