.BigTitle_div {
    opacity: 1;
    font-family:Perpetua;
    text-align:center;
    font-size:30px;
    Font-style:italic;
    font-weight:bold;
    margin-bottom: 0;
}
.Subtitle{
    font-family:Perpetua;
    font-size:24px;
    font-weight:bold;
    Font-style:italic;
    margin-bottom: 5px;
}
.main{
    padding: 0 70px;
    margin-top: 30px;
}
.peopleList{
    margin-left: 30px
}
.peopleList li{
    margin-top: 10px;
}
.table tbody tr td{
    border-top: none;
}
