.BigTitle_div {
    opacity: 1;
    font-family:Perpetua;
    text-align:center;
    font-size:2em;
    Font-style:italic;
    font-weight:bold;
}
.Subtitle{
    font-family:Perpetua;
    font-size:24px;
    font-weight:bold;
    Font-style:italic;
    line-height:2em;
}
<<<<<<< HEAD
.main{
    padding: 0 70px;
    margin-top: 10px;
}
.peopleList{
    margin-left: 20px
}
=======
>>>>>>> f8820075db9f8314924aba3acff9d614bb20ff61
