@charset "utf-8";

/*设置正文格式*/
#content{
	padding: 5% 5% 5% 5%;
}/*上右下左,顺时针*/

	
#Content_div{margin-left:10px;margin-right:20px;opacity: 1;
	font-family:Perpetua;text-align:justify;}	


.Hesheng_div {margin-top:5px;}
.hesheng_left{width:58%;float:left;margin-bottom:20px;}
.hesheng_right{width:40%;float:right;font-family:Arial;font-size:14px;line-height:1.5em;}
.hesheng_img{width:20%;float:left;}
.hesheng_txt{padding-top:15px;width:78%;float:right;font-family:Arial;font-size:14px;line-height:1.5em;}



.display_p_div {margin-top:5px;height:135px;}
.display_p_div li {margin-left:20px;font-family:Arial;font-size:14px;line-height:2em;}

#Subtitle{font-family:Perpetua;font-size:24px;font-weight:bold;Font-style:italic;padding-top:10px;line-height:2em;clear:both}
.display_p_div p{font-family:Arial;font-size:14px;line-height:2em;}

.left_div{width:50%;float:left;}
.right_div{width:50%;float:right;}

.sub_l{width:20%;float:left;}
.sub_r{width:75%;padding-top:25px;float:right;}