.current{background:blue;}
#Navigation ul{list-style-type:none;}
#Navigation ul li{
	float: left;
	margin-right: 28px;
	width: 177px;
	height: 30px;
	
}
#Navigation ul li a{
	text-decoration: none;
	color: #000;
	display: block;
	width: 177px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	
}
