@charset "utf-8";
/*设置正文格式*/
#content{
	padding: 5% 5% 5% 5%;
}/*上右下左,顺时针*/



.display_div ul li{margin-top:40px; line-height:2em}/*显示News报道时间以及文字区域,用于重复区域*/


	
#ChangePage{
	position:fixed;
	height:24px;
	bottom:20px;

	padding-left:550px;
	margin-right：20px;
	font-family: Arial;
	font-weight: bold;	

	}
	
#ChangePage a{
	display:inline-block;
	width:50px;   
	font-size:14px;
	text-align:center;
	text-decoration: none;
	color:#030303;
	height:22px;

	}

#ChangePage a:hover{
	opacity:0.3
	}
	
	

