@charset "utf-8";

/*设置正文格式*/
#content{
	padding: 5% 5% 5% 5%;
}/*上右下左,顺时针*/


#PubNavigation{
	position:fixed;
	height:26px;
	width:100%;
	font-family: Arial;
	font-size: 14px;
	color:#fff;
	font-weight: bold;	
	margin-right:20px;
	
	background:url(../imags/WebImg/PubNavigation.jpg)
	}

#PubContent{ 
	padding-top:10px;
	font-family:Arial;

}/*上右下左,顺时针*/


#PubContent h1 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
	padding-left:10px;
	
}

#PubContent h2{
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
	padding-left:10px;
}

#PubContent h2 a{
	color:red;
	text-decoration: NONE

}


#PubContent ol{
	padding-left:40px;	
}

#PubContent ol li {
	padding-top:10px;
	font-size: 14px;
	font-weight:normal;
	line-height:1.5em;

}

#PubContent ol li a{
	color:red;
	text-decoration: NONE

}