@charset "utf-8";
/* CSS Document */


	

/*设置正文格式*/
#content{
	padding: 8% 5% 5% 5%;
}/*上右下左,顺时针*/


		
	
#accordion .panel{
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: -5px;
}
#accordion .panel-heading{
	padding:0;
	border-radius: 0;
	border: none;
	text-align:left;
}
#accordion .panel-title a{
	display: block;
	padding: 25px 60px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #808080;
	position: relative;
	transition: all 0.5s ease 0s;
}
#accordion .panel-title a:hover{
	font-size: 17px;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
	content: "\f067";
	font-family: FontAwesome;
	font-size: 15px;
	font-weight: 200;
	position: absolute;
	top: 25px;
	left: 15px;
	transform: rotate(135deg);
	transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:after{
	transform: rotate(0deg);
}
#accordion .panel-body{
	padding: 0 0 0 20px;
	border: none;
	position: relative;
}
#accordion .panel-body p{
	font-size: 14px;
	color: #333;
	line-height: 25px;
	padding: 5px;
	margin: 0;
	font-family:'Roboto Condensed', Helvetica, Arial, Lucida, sans-serif;
	font-weight: bold;
}

#accordion .panel-body li{
	font-size: 12px;
	color: #333;
	line-height: 20px;
	padding: 3px;
	margin: 0;
}

#accordion .panel-collapse .panel-body p{
	opacity: 0;
	transform: scale(0.9);
	transition: all 0.3s ease-in-out 0s;
}

#accordion .panel-collapse .panel-body li{
	opacity: 0;
	transform: scale(0.9);
	transition: all 0.3s ease-in-out 0s;
}

#accordion .panel-collapse.in .panel-body p{
	opacity: 1;
	transform: scale(1);
}

#accordion .panel-collapse.in .panel-body li{
	opacity: 1;
	transform: scale(1);
}