*{
    margin:0; padding:0
}

body,td,th {
    font-family: Verdana, Geneva, sans-serif;
}
/* Non-responsive overrides
* Utilitze the following CSS to disable the responsive-ness of the container,
* grid system, and navbar.
* Reset the container */
.container {
    width: 100%;
    max-width: none !important;
    padding: 0;
    min-width: 1200px;
}
.row{
    margin: 0;
}
.nav li a{
    padding-top: 0;
    padding-bottom: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color:#101938 ;
}
/*覆盖浏览器默认样式*/
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin: 0;
    padding: 0;
}
/*标题栏*/
.HeadTitle{
    height:80px;
    background-color: #101938;
    background-image: url(../imags/WebImg/Head.jpg);
    background-repeat: no-repeat;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    width: 100%;
    line-height: 80px;
}
/*设置导航条*/
.Navigation{
    float:right;
    font-family:Arial;
}
.Navigation ul{
    list-style-type:none;
}
.Navigation  a{
    color: #FFF;
}
.Navigation a:hover{
    color:red;	/*背景透明，字体不透明*/
    background-color: #101938;
}