<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LiuLab|Download</title>

<link rel="stylesheet" type="text/css" href="CSS/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="CSS/style.css">
<link rel="stylesheet" type="text/css" href="CSS/Download.css">

<script type="text/javascript" src="CSS/jquery.min.js"></script>

<!-- Vue安装 -->
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>

<!-- ElementUI安装 -->
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leancloud-storage@3.7.2/dist/av-min.js"></script>
<script type="text/javascript" src="js/initLeanCloud.js"></script>
    <script async src="js/busuanzi.pure.mini.js"></script>

</head>
    <div class="container" id="app">
      <!--标题栏-->
        <div class="row">
            <div class="col-xs-12 HeadTitle">
                <ul class="nav nav-pills Navigation">
                    <li><a href="Home.html" >Home</a></li>
                    <li><a href="Research.html">Research</a></li> 
                    <li><a href="Members.html">Members</a></li>
              
                    <li><a href="Publications.html">Publications</a></li>
                    <li><a href="#" style="color:red;">Data&amp;Code</a></li> <!--新开一个窗口显示登记信息-->
                    <li><a href="News.html">News</a></li>
                    <li><a href = "Collaborators.html">Collaborators</a></li>
                    <li><a href="Hesheng.html">DR. Hesheng</a></li>
                </ul>
            </div>
          </div><!--结束标题栏-->

          <div class="row main head">
              <div class="col-xs-12">
                  <div class="BigTitle_div">Data & Code</div>
                  <hr style="border:1px solid #808080; height:0.1px;margin-top: 0" />
              </div>
          </div>
          <div class="row main">
              <div class="col-xs-12">
                <h4>2015</h4>
                <hr style="border:1px solid #808080; height:0.1px;margin-top: 0" />
              </div>
          </div>
          <div class="row main" >
            <div class="col-xs-6">
                <p>Wang D et al.2015: <strong> Parcellating Cortical Functional Networks in Individuals</strong>. Nat. Neurosci. </p>
            </div>
            <div class="col-xs-6">
                <ul>
                    <li><a href="javascript:void(0);" v-on:click = "checkForDownload('DownLoad/2015_IndividualParcellation/IndiPar_v1.0_with_MCR_Package.zip')"> Matlab Code for Iterative Parcellation and User Manual</a></li>
                    <li><a href="javascript:void(0);" v-on:click = "checkForDownload('DownLoad/2015_IndividualParcellation/HCP.tgz')"> Parcellation Results of HCP Unrelated 100 Subjects</a></li>
                    <li><a href="javascript:void(0);" v-on:click = "checkForDownload('DownLoad/2015_IndividualParcellation/Maps.tgz')"> Snapshots of the Parcellation Maps</a></li>
                </ul>
            </div>
          </div>
          <div class="row main">
              <div class="col-xs-12">
                <h4>2014</h4>
                <hr style="border:1px solid #808080; height:0.1px;margin-top: 0" />
              </div>
          </div>
          <div class="row main">
              <div class="col-xs-6">
                  <p>Wang D et al.2014: <strong> Functional Specialization in the Human Brain Estimated By Intrinsic Hemispheric Interaction</strong>. The Journal of Neuroscience. </p>
              </div>
              <div class="col-xs-6">
                  <ul>
                      <li><a href="javascript:void(0);" v-on:click = "checkForDownload('DownLoad/2014_Autonomy/Auto_v1.0_with_MCR_Package.tgz')"> Compiled Code for Autonomy Index</a></li>
                      <li><a href="javascript:void(0);" v-on:click = "checkForDownload('DownLoad/2014_Autonomy/Autonomy_Uncompiled.tgz')"> UnCompiled Matlab Code for Autonomy Index</a></li>
                      <li><a href="javascript:void(0);" v-on:click = "checkForDownload('DownLoad/ExampleData/ExampleData_GSP100.tgz')"> ExampleData</a></li>
                  </ul>
              </div>
          </div>
          <div class="row main">
              <div class="col-xs-12">
                <h4>2013</h4>
                <hr style="border:1px solid #808080; height:0.1px;margin-top: 0" />
              </div>
          </div>
          <div class="row main">
              <div class="col-xs-6">
                  <p>Wang D et al.2013: <strong> Cerebellar asymmetry and its relation to cerebral asymmetry estimated by intrinsic functional connectivity</strong>. J Neurophysiol. </p> 
              </div>
              <div class="col-xs-6">
                  <ul>
                      <li><a href="javascript:void(0);" v-on:click = "checkForDownload('DownLoad/2013_Lateralization/iLI_v1.0_with_MCR_Package.tgz')"> Compiled Code for Lateralization Index</a></li>
                      <li><a href="javascript:void(0);" v-on:click = "checkForDownload('DownLoad/2013_Lateralization/iLI_Uncompiled.tgz')"> UnCompiled Matlab Code for Lateralization Index</a></li>
                      <li><a href="javascript:void(0);" v-on:click = "checkForDownload('DownLoad/ExampleData/ExampleData_GSP100.tgz')"> ExampleData</a></li>
                  </ul>
              </div>
          </div>

        <!--版权-->
        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-12 text-center">
                <div style="background-color: #999;height: 3px;margin-bottom: 10px;"></div>
                <div style="background-color: #ccc;height: 65px;padding-top: 20px;">
                    <span>© Copyright 2018, Liu Lab All rights reserved.</span><span>&nbsp;&nbsp;visits&nbsp;<span id="busuanzi_value_site_uv"></span>&nbsp;views&nbsp;<span id="busuanzi_value_site_pv"></span></span>
                </div>
            </div>
        </div> <!--结束版权-->
        <el-dialog :visible.sync="visible" title="Personal Infomation" center>
            <el-form :model="downloader" ref="downloader" :label-position="labelPosition" :rules="rules">
                <el-form-item label="email" :label-width="formLabelWidth" prop="email">
                  <el-input v-model="downloader.email" auto-complete="on"></el-input>
                </el-form-item>
                <el-form-item label="institution" :label-width="formLabelWidth">
                    <el-input v-model="downloader.institution" auto-complete="on"></el-input>
                  </el-form-item>
              </el-form>
              <span slot="footer" class="dialog-footer">
                  <el-button @click="visible = false">cancel</el-button>
                  <el-button type="primary" @click="saveDownloader('downloader')">download</el-button>
                </span>
          </el-dialog>
    </div>
</body>

<script>
    var app = new Vue({
      el: '#app',
      data: {
        visible: false,
        downloader: {
          email: '',
          institution: '',
          datetime:{},
        },
        rules: {
          email: [
            { type: "email", required: true, message: 'Please enter a valid email address', trigger: 'blur' }
          ],
        },
        formLabelWidth: '90px',
        labelPosition:'top',
        curDownUrl:''
      },
      
      methods: {
        checkForDownload: function(url) {
          this.downloader.email = '';
          this.downloader.institution = '';

          if(!window.localStorage) {
              console.log("浏览器不支持localStorage, 放弃缓存功能")
              this.visible = true
              return;
          }
          var down = localStorage.getItem("downloader");      
          if(down !== null) {
            down = JSON.parse(down);
            var now = new Date();
            var laste = new Date(down.datetime)
            var minDiff = (now.getTime() - laste.getTime()) / 1000 / 60
            console.log(minDiff)
            if(minDiff < 30) {
              console.log("30分钟内下载过，不用再登记")
              window.location.href = url
              return;
            }
          }

          console.log("30分钟内没有下载过, 登记信息")
          this.visible = true
          this.curDownUrl = url
        },
        saveDownloader: function(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              // 存入localstorrage
              this.downloader.datetime = new Date();
              localStorage.setItem("downloader", JSON.stringify(this.downloader));
              // 上传到云服务器
              this.uploadDownloader();
              // 关闭对话框
              this.visible = false;
              // 跳转到下载
              window.location.href = this.curDownUrl;
            } else {
              console.log('表单校验失败');
              return false;
            }
          });
        },
        uploadDownloader: function() {
            console.log("upload...");
            var Visit = AV.Object.extend('Visit');
            var email = this.downloader.email;
            var institution = this.downloader.institution;
            // LeanCloud - 对象
            // https://leancloud.cn/docs/leanstorage_guide-js.html#数据类型
            var visit = new Visit();
            visit.set('email', email);
            visit.set('institution', institution);
            visit.save().then(function() {
                console.log("success...");
            }, function(error) {
                alert(JSON.stringify(error));
            });

        }
      }
    })
</script>

<style>
</style>

</html>
